<%- include('header') %>

<div class="skraInn">
<h1></h1>

<form class="form" method="post" action="/admin/login" autocomplete="off">

  <div class="field<%= locals.isInvalid('username', errors) ?  ' field--invalid' : '' %>">
    <label for="username">Notendanafn</label>
    <input type="text" name="username" id="username">
  </div>

  <div class="field<%= locals.isInvalid('password', errors) ?  ' field--invalid' : '' %>">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password">
  </div>

  <% if (message) { %>
    <p><%= message %></p>
  <% } %>

  <div class="villa">
  
    <% if (errors.length > 0) { %>
    <h2>Villur:</h2>
    <ul>
      <% errors.forEach((error) => { %>
        <li><label for="<%= error.param %>"><%= error.msg %></label></li>
      <% }); %>
    </ul>
  <% } %>

  </div>

 <button class="button button--margin">Innskrá</button>
</form>

<hr>

</div>

<%- include('footer') %>