<%- include('header') -%>

<section class="registrations">
<% if( !BirtaOne )  { %>
  <ul>
    <% if(events) { %>
      <% for(let event of events ) { %>
        <li> <a href="<%= event.id %>"> <%= event.nameuser %> </a> </li>
        <% } %>
      <% } else { %>
    <li> Engir notendur </li> 
    <% } %>
  </ul>
<% } else { %>
   <ul>
     <% if(events) { %>
      <% for(let event of events ) { %>
       <li>Notandi: <%= event.nameuser %></li>
       <li>Bjó til: <%= event.namevidburdur %></li>
       <li>Dagur: <%= event.created %></li>
       <% } %>
    <% } else { %>
      <li>Enginn upplýsingar um notandi</li>
      <% } %> 
  </ul>
<% } %>
</section>

<%- include('footer') -%>