<form class="form" method="post" action="/admin/:slug" autocomplete="off">

  <% for(let event of events ) { %>

    <div class="field<%= locals.isInvalid('namevidburdur', errors) ?  ' field--invalid' : '' %>">
      <label for="namevidburdur">Nafn</label>
      <input type="text" name="namevidburdur" id="namevidburdur" value="<%= event.namevidburdur %>" class="">
    </div>  

    <div class="field<%= locals.isInvalid('slug', errors) ?  ' field--invalid' : '' %>">
      <input type="hidden" name="slug" id="slug" value="<%= event.slug %>" class="">
    </div>

    <div class="field field--textarea<%= locals.isInvalid('comment', errors) ?  ' field--invalid' : '' %>">
      <label for="comment">Lýsing</label>
      <textarea name="comment"> <%= event.description %> </textarea>
    </div>
  <% } %>

    <div class="villa">
  
      <% if (errors.length > 0) { %>
      <h2>Villur:</h2>
      <ul>
        <% errors.forEach((error) => { %>
          <li><label for="<%= error.param %>"><%= error.msg %></label></li>
        <% }); %>
      </ul>
    <% } %>
  
    </div>

  <button class="button">Uppfæra</button>

</form>