<h1>Skrá nýjan viðburð</h1>
  <form class="form" method="post" action="/" autocomplete="off">
  
  <div class="field<%= locals.isInvalid('namevidburdur', errors) ?  ' field--invalid' : '' %>">
    <label for="namevidburdur">Nafn</label>
    <input type="text" name="namevidburdur" id="namevidburdur" value="<%= formData.namevidburdur %>" class="">
  </div>

  <div class="field field--textarea<%= locals.isInvalid('comment', errors) ?  ' field--invalid' : '' %>">
    <label for="comment">Lýsing</label>
    <textarea name="comment"></textarea>
  </div>

  <div class="villa">
   <% if (errors.length > 0) { %>
    <h2>Villur:</h2>
    <ul>
      <% errors.forEach((error) => { %>
        <li><label for="<%= error.param %>"><%= error.msg %></label></li>
      <% }); %>
      </ul>
    <% } %>
  </div>

  <button class="button button--small button--margin">Skrá viðburð</button>
</form>