<%- include('header') -%>

<section class="registrations">

<% if ( validated ) { %>

  <%- include('update') -%>

<% } else { %>

  <% for(let event of events ) { %>
    <h1> <%= event.namevidburdur %> </h1>
    <h2> <%= event.description %> </h2>
  <% } %>

<ul>
<% if(users.length === 0) { %>
  <h2 class="registrations__title">Engin hefur skráð sig á þennan viðburð</h2>
<% } else { %>
  <% for(let user of users ) { %>
    <li> <%= user.nameskra %> </li>
    <p class="registrations-skak"> <%= user.comment %> </p> 
  <% } %>
<% } %>
</ul>

<hr>

<h1>Innskrá til þess að geta skráð sig</h1>
<% if(!user.admin) { %>
<!-- 
<form method="post" action="/:slug" autocomplete="off">
  
  <div class="field <%= locals.isInvalid('nameskra', errors) ?  ' field--invalid' : '' %>">
    <label for="nameskra">Nafn</label>
    <input type="text" name="nameskra" id="nameskra" value="<%= formData.nameskra %>" class="">
  </div>

  <% for(let event of events) { %>
  <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
      <input type="hidden" name="id" value="<%= event.id %>" class="">
  </div>
  <% } %>

  <div class="field field--textarea<%= locals.isInvalid('comment', errors) ?  ' field--invalid' : '' %>">
    <label for="comment">Athugasemd</label>
    <textarea name="comment"></textarea>
  </div>
  
  <div class="villa">
  
    <% if (errors.length > 0) { %>
    <h2>Villur:</h2>
    <ul>
      <% errors.forEach((error) => { %>
        <li><label for="<%= error.param %>"><%= error.msg %></label></li>
      <% }); %>
    </ul>
  <% } %>

  </div>
  
  <button class="button button--margin">Skrá mig</button>
</form>
-->
  <% } %>  
<% } %>

<hr>

</section>

<%- include('footer') -%>